@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
        html {
            box-sizing: border-box;
            font-size: 16px;

        }
        *, *:before, *:after {
            box-sizing: inherit;
            outline: 0;
        }
        
        body {
            font-family: "Montserrat", sans-serif;
            background-color: #0084ff;
        }
        a {
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
        }
        .app-wrapper {
            display: flex;
            width: 1440px;
            padding: 12px;
            margin: 0 auto;
        }
        .main-content {
            flex-basis: 56%;
            max-width: 56%;
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
        }
        
        .main-content__header {
            display: flex;
            padding: 40px 64px;
            margin-bottom: 128px;
        }
        .main-content__header .header__inner {
            align-items: center;
            height: 56px;
            padding-top: 20px; /* Adjust as needed to push the header down */
            display: flex;
            justify-content: space-between; /* Align items properly */
            align-items: center; /* Vertically align items */
                }
        .main-content__header .icon {
            position: relative;
            display: block;
            width: 32px;
            height: 32px;
            transform: translateY(0);
        }
        .main-content__header .icon:hover, .main-content__header .icon:focus {
            transform: translateY(-4px);
            opacity: 0.65;
        }
        .main-content__header .icon:active, .main-content__header .icon:focus:active {
            transform: translateY(0);
        }
        .main-content__header .icon > span {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
        }
        .main-content__header .icon > span:first-child {
            top: 0;
            left: 0;
        }
        .main-content__header .icon > span:nth-child(2) {
            top: 0;
            right: 0;
        }
        .main-content__header .icon > span:nth-child(3) {
            bottom: 0;
            left: 0;
        }
        .main-content__header .icon > span:last-child {
            right: 0;
            bottom: 0;
        }
        .main-content__header h1 {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            margin-left: 64px;
        }
        .main-content__body {
            margin-left: 160px;
            margin-right: 104px;
        }
        .main-content__body .input-field-group {
            position: relative;
            margin-bottom: 48px;
        }
        .main-content__body .input-field-group:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: #fff;
            border-radius: 2px;
        }
        .main-content__body .main-search-input {
            width: 100%;
            height: 56px;
            font-size: 40px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            background-color: transparent;
            color: #fff;
            border: 0;
            padding: 2px 0 2px 16px;
        }
        .main-content__body .main-search-input:focus {
            outline: none;
        }
        .main-content__body .main-search-input.placeholder {
            color: rgba(255, 255, 255, 0.24);
        }
        .main-content__body .main-search-input:-moz-placeholder {
            color: rgba(255, 255, 255, 0.24);
        }
        .main-content__body .main-search-input::-moz-placeholder {
            color: rgba(255, 255, 255, 0.24);
        }
        .main-content__body .main-search-input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.24);
        }
        .main-content__body .main-search-input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.24);
        }
        .main-content__body .trending-list {
            display: flex;
            margin-bottom: 120px;
        }
        .main-content__body .trending-list .flex-vert {
            display: flex;
            flex-direction: column;
        }
        .main-content__body .trending-list .flex-horz {
            display: flex;
            flex-direction: row;
        }
        .main-content__body .trending-list .flex-grid {
            display: flex;
        }
        .main-content__body .explore-section h2 {
            font-size: 40px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 48px;
        }
        .main-content__body .explore-section__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 48px;
        }
        .main-content__body .explore-section__list {
            display: flex;
            margin-right: -8px;
            margin-left: -8px;
        }
        .main-content__body .explore-section__list .card {
            flex: 1;
            margin: 8px;
        }
        .main-content__body .explore-nav {
            transform: translatex(-16px);
        }
        .main-content__body .explore-nav a {
            display: inline-flex;
            justify-content: center;
            position: relative;
            color: #fff;
            font-size: 16px;
            padding: 12px 16px;
            text-decoration: none;
            transform: translateY(0);
            opacity: 0.65;
        }
        .main-content__body .explore-nav a:hover, .main-content__body .explore-nav a:focus {
            transform: translateY(-2px);
            opacity: 1;
        }
        .main-content__body .explore-nav a:active, .main-content__body .explore-nav a:focus:active {
            transform: translateY(0);
        }
        .main-content__body .explore-nav a.selected {
            opacity: 1;
        }
        .main-content__body .explore-nav a.selected:hover, .main-content__body .explore-nav a.selected:focus {
            transform: translateY(0);
        }
        .main-content__body .explore-nav a.selected:after {
            content: '';
            position: absolute;
            bottom: -12px;
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 3px;
        }
        .main-content__body .filter-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            transform: translateY(0);
        }
        .main-content__body .filter-toggle:hover, .main-content__body .filter-toggle:focus {
            box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.12);
            transform: translateY(-4px);
        }
        .main-content__body .filter-toggle:active, .main-content__body .filter-toggle:focus:active {
            transform: translateY(0);
        }
        .main-content__body .filter-toggle .filter-icon {
            position: relative;
            width: 20px;
            height: 16px;
        }
        .main-content__body .filter-toggle span {
            display: block;
            position: absolute;
        }
        .main-content__body .filter-toggle span:first-child {
            top: 0;
            left: 0;
        }
        .main-content__body .filter-toggle span:nth-child(2) {
            top: 2px;
            right: 0;
        }
        .main-content__body .filter-toggle span:nth-child(3) {
            bottom: 2px;
            left: 0;
        }
        .main-content__body .filter-toggle span:last-child {
            right: 0;
            bottom: 0;
        }
        .main-content__body .filter-toggle .circle {
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 3px;
        }
        .main-content__body .filter-toggle .line {
            width: 12px;
            height: 2px;
            background-color: #fff;
        }
        .card {
            display: inline-flex;
            height: 96px;
            width: 96px;
            font-size: 12px;
            line-height: 1.4;
            color: #000;
            border: 1px solid transparent;
            border-radius: 24px;
            padding: 24px;
            margin: 0 16px 16px 0;
            transform: translateY(0);
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
            text-decoration: none;
        }
        .card:hover, .card:focus {
            box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.12);
            transform: translateY(-4px);
        }
        .card:active, .card:focus:active {
            transform: translateY(0);
        }
        .card__white-bg {
            background-color: #fff;
        }
        .card__off-white-bg {
            background-color: #f7f7f7;
        }
        .card__lt-lightblue-bg {
            background-color: #94cbff;
        }
        .card__lt-blue-bg {
            color: #fff;
            background-color: #0084ff;
        }
        .card__lg-sq {
            height: 208px;
            width: 208px;
        }
        .card__tall {
            height: 208px;
        }
        .card__outlined {
            color: #fff;
            font-weight: 600;
            border: 1px solid rgba(255, 255, 255, 0.16);
        }
        .card__centered-text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .card__player {
            display: inline-flex;
            align-items: center;
            width: initial;
        }
        .card__player:hover .control-icon, .card__player:focus .control-icon {
            opacity: 1;
        }
        .card__player .album-artwork {
            width: 48px;
            height: 48px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 8px;
            margin-right: 16px;
        }
        .card__player .song-title {
            font-weight: 600;
            margin-bottom: 4px;
        }
        .card__player .song-artist {
            color: rgba(0, 0, 0, 0.65);
        }
        .card__player .control-icon {
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            margin-left: 40px;
            opacity: 0.4;
        }
        .card__player .control-icon:hover, .card__player .control-icon:focus {
            transform: scale(1.12);
            opacity: 1;
        }
        .card__player .control-icon:active, .card__player .control-icon:focus:active {
            transform: scale(1);
        }
        .card__player .control-icon span {
            display: inline;
            position: absolute;
            width: 6px;
            height: 100%;
            background-color: #000;
            border-radius: 2px;
        }
        .card__player .control-icon span:first-child {
            left: 2px;
        }
        .card__player .control-icon span:last-child {
            right: 2px;
        }
        .card__image {
            background-size: cover;
            background-position: center;
        }
        .card__image:hover .card__button, .card__image:focus .card__button {
            background-color: #fff;
        }
        .card__button {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            width: 100%;
            height: 40px;
            font-size: 13px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 20px;
            padding: 8px 12px;
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
            text-align: center;
        }
        .card__button span {
            font-weight: 600;
        }
        .card__link {
            display: flex;
            align-items: center;
        }
        .card__link .avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 16px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .card .emoji-mt40 {
            margin-top: 40px;
        }
        .card .emoji-mt20 {
            margin-top: 20px;
        }
        .card .emoji-mr20 {
            margin-right: 20px;
        }
        .card .emoji-mb20 {
            margin-bottom: 20px;
        }
        .card .emoji-ml20 {
            margin-left: 20px;
        }
        .card .emoji-sm {
            font-size: 24px;
        }
        .card .emoji-md {
            font-size: 40px;
        }
        .card .emoji-lg {
            font-size: 64px;
        }
        .card__text {
            font-size: 12px;
        }
        .card__text span {
            font-weight: 600;
        }
        .card__rect {
            width: 208px;
            align-items: center;
        }
        .account-panel {
            position: relative;
            display: inline-block; /* Let it resize according to content */
            max-width: 100%; /* Restrict maximum width to avoid overflow */
            width: auto; /* Allow dynamic width based on content */
            padding: 20px; /* Optional padding for aesthetics */
        }

        .account-panel__resizer {
            position: absolute;
            top: calc(50% - 80px);
            width: 6px;
            height: 160px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 3px;
            transform: translateX(-16px) translateY(-50%);
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
            cursor: col-resize;
            display: none; /* Hide resizer as panel will auto-resize */
        }

        .account-panel__inner {
            background-color: #fff;
            border-radius: 32px;
        }

        .account-panel__content {
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
            max-width: 100%; /* Prevent content overflow */
        }

        .account-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 64px 40px 48px;
            margin-bottom: 128px;
            margin-top: 20px; /* Ensure that settings/profile links aren't cut off */
        }
        .account-header__nav {
            display: flex;
        }
        .account-header__nav a {
            position: relative;
            display: block;
            font-size: 13px;
            font-weight: 600;
            color: #000;
            padding: 12px 16px;
            margin-right: 16px;
            text-decoration: none;
            transform: translateY(0);
        }
        .account-header__nav a:last-of-type {
            margin-right: 0;
        }
        .account-header__nav a:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: transparent;
            border-radius: 8px;
            transform: scale(0);
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
            z-index: -1;
        }
        .account-header__nav a:hover, .account-header__nav a:focus {
            transform: translateY(-4px);
        }
        .account-header__nav a:hover:after, .account-header__nav a:focus:after {
            background-color: #94cbff;
            transform: scale(1);
        }
        .account-header__nav a:active, .account-header__nav a:focus:active {
            transform: translateY(0);
        }
        .account-header .user-avatar {
            display: block;
            width: 56px;
            height: 56px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 16px;
            transform: translateY(0);
        }
        .account-header .user-avatar:hover, .account-header .user-avatar:focus {
            box-shadow: 0 0 0 8px #94cbff;
            transform: translateY(-4px);
        }
        .account-header .user-avatar:active, .account-header .user-avatar:focus:active {
            transform: translateY(0);
        }
        .account-content {
            padding: 0 64px;
        }
        .account-content h2 {
            display: flex;
            align-items: center;
            height: 56px;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 48px;
        }
        .account-content h2 span {
            position: relative;
            font-weight: 400;
            margin-left: 8px;
        }
        .account-content h2 .notification-badge {
            position: absolute;
            top: -100%;
            right: -48px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 12px;
            font-weight: 600;
            background-color: #f8f89e;
            border-radius: 20px;
            padding: 12px;
            text-align: center;
        }
        .account-content .account-card-list {
            display: flex;
            margin-top: -8px;
            margin-right: -8px;
            margin-left: -8px;
            margin-bottom: 64px;
        }
        .account-content .account-card-list .card {
            flex: 1;
            margin: 8px;
        }
        .account-content .account-card-list .card:hover, .account-content .account-card-list .card:focus {
            box-shadow: 0 0 0 8px #94cbff;
        }
        .now-playing {
            margin-bottom: 48px;
        }
        .now-playing h3 {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 32px;
        }
        .now-playing .card:hover, .now-playing .card:focus {
            box-shadow: 0 0 0 8px #94cbff;
            transform: translateY(0);
        }
        .now-playing .card.card__next-song {
            transform: translateX(0);
        }
        .now-playing .card.card__next-song:hover, .now-playing .card.card__next-song:focus {
            transform: translateX(-4px);
        }
        .now-playing .card.card__next-song:active, .now-playing .card.card__next-song:focus:active {
            transform: translateX(0);
        }
        .now-playing .songs-list {
            display: flex;
        }
        .account-pagination {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 24px 0 40px;
        }
        .account-pagination .pagination-list {
            display: flex;
        }
        .account-pagination a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            opacity: 0.4;
        }
        .account-pagination a:hover span, .account-pagination a:focus span {
            box-shadow: 0 0 0 8px #94cbff;
        }
        .account-pagination a:active, .account-pagination a:focus:active {
            transform: scale(1.2);
        }
        .account-pagination a span {
            width: 8px;
            height: 8px;
            background-color: #00396e;
            border-radius: 4px;
            transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
        }
        .account-pagination a:last-child {
            margin-right: 0;
        }
        .account-pagination a:hover, .account-pagination a:focus, .account-pagination a.selected {
            opacity: 1;
        }
        /* Basic styles for the reminders page */
        .reminders-section {
            margin-top: 20px;
        }
        .reminder-item {
            padding: 15px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 10px; /* Rounded corners for each reminder */
            background-color: #fff; /* Light blue background for reminders */
            transition: transform 0.2s; /* Smooth hover effect */
        }
        .reminder-text {
            display: inline-block;
            margin-right: 10px;
        }
        .reminder-button {
            background-color: #fff;
            color: rgb(0, 77, 219);
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 10px; /* Rounded corners for each reminder */
        }
        .your-reminder-text{
            color: white;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Montserrat", sans-serif;
            background-color: #0084ff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
            background-color: #0084ff;
            border-radius: 32px;
            padding: 64px;
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
        }

        .login-section,
        .new-here-section {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: #0084ff;
            text-align: center;
            margin-bottom: 32px;
        }

        .login-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .login-form input {
            width: 100%;
            height: 56px;
            margin-bottom: 24px;
            padding: 0 16px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f7f7f7;
            color: #333;
            transition: border-color 0.2s;
        }

        .login-form input:focus {
            outline: none;
            border-color: #0084ff;
        }

        .login-btn,
        .signup-link-btn {
            width: 100%;
            padding: 16px;
            background-color: #0084ff;
            color: #fff;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .login-btn:hover,
        .signup-link-btn:hover {
            background-color: #006bbf;
        }

        .new-here-section p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 32px;
        }

        .forgot-password {
            text-align: center;
            margin-top: 16px;
        }

        .forgot-password a {
            color: #0084ff;
            text-decoration: none;
            transition: color 0.2s;
        }

        .forgot-password a:hover {
            color: #006bbf;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Montserrat", sans-serif;
            background-color: #0084ff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
            background-color: #fff;
            border-radius: 32px;
            padding: 64px;
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
        }

        .signup-section,
        .already-been-here-section {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: #0084ff;
            text-align: center;
            margin-bottom: 32px;
        }

        .signup-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .signup-form input {
            width: 100%;
            height: 56px;
            margin-bottom: 24px;
            padding: 0 16px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f7f7f7;
            color: #333;
            transition: border-color 0.2s;
        }

        .signup-form input:focus {
            outline: none;
            border-color: #0084ff;
        }

        .signup-btn,
        .signup-link-btn {
            width: 100%;
            padding: 16px;
            background-color: #0084ff;
            color: #fff;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .signup-btn:hover,
        .signup-link-btn:hover {
            background-color: #006bbf;
        }

        .already-been-here-section p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 32px;
        }

        .forgot-password {
            text-align: center;
            margin-top: 16px;
        }

        .forgot-password a {
            color: #0084ff;
            text-decoration: none;
            transition: color 0.2s;
        }

        .forgot-password a:hover {
            color: #006bbf;
        }
        
        